@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* Banner section styling */

.banner-title {
  color: #151414;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}

.banner-desc {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.contact-btn {
  border-radius: 5px;
  background: #f15b22;
  padding: 20px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
}

.btn-main {
  text-align: right;
}

.banner-info {
  max-width: 525px;
}

header {
  padding: 210px 230px 160px 0;
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
}

/* About section styles */

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 140px;
  margin-bottom: 210px;
}

.about-pic {
  margin-left: 277px;
}

.about-pic img {
  width: 451px;
}

.about-info {
  max-width: 322px;
  margin-right: 320px;
}

.about-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.about-desc {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.about-list {
  margin-top: 20px;
}

.about-list ul li {
  list-style: none;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.about-list ul li::before {
  content: "\2713";
  margin-right: 4px;
}

/* Plan section styles */

.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.card {
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 130px;
}

.card-title {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
}

.card-text {
  color: #737272;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
